<button id="help">How do I use the scraper?</button>

<div class="header">
  <h1>LSE web scraper</h1>
</div>

<div class="selection">
  Group selection
</div>

<div class="metric-options">
  <div class="block">
    <div><p>All</p><input type="checkbox"></div>
    <div><p>Income statement</p><input type="checkbox"></div>
  </div>
  <div class="block">
    <div><p>Balance sheet</p><input type="checkbox"></div>
    <div><p>Ratios</p><input type="checkbox"></div>
  </div>
</div>

<div class="more-options">
  <p>More options?</p>
</div>

<div class="location-block">
  <div class="file-locations">
    <label for="uploader">Upload companies</label>
    <input id="uploader" name="uploader" type="file" accept=".xlsx">
  </div>
</div>

<button id="scrape-button">Scrape!</button>

